.register{
  background-color: #f6b37f;
  height: 100%;
  .register-top{
  background-color: #f6b37f;
 
    .register-img{
      width: 100%;
      
    }
  }
  .weui-cells {
    font-size: 12px !important;
    padding: 0 0 0 60px !important;
    border-radius: 5px;
    
    .weui-textarea {
      color: #1B1B1B;
      
      // &::-webkit-input-placeholder {
      // }
      // &:-moz-placeholder {
      // }
      // &::-moz-placeholder {
      // }
      // &:-ms-input-placeholder {
      // }
    }
    .getAddress{
      height: 50px;
      .weui-cell__bd{
        height: 50px;
        .weui-textarea{
          height: 50px !important;
        }
      }
    }
  }
  .register-center{
  background-color: #f6b37f;
  
    .register-time{
      margin:10px auto;
      display: block;
      width: 80%;
    }
    .register-center-bottom{
  background-color: #f6b37f;
  
      margin: 50px 10px 0 10px;
      font-size: 12px;
      .ad-content {
  background-color: #f6b37f;
  position: relative;
        color: #1B1B1B;
        margin:30px 0 0 0 ;//margin重叠
      line-height: 29px;
      
        .ad-name {
          position: absolute;
          z-index: 1;
          left: 8px;
          top: 3px;
        }
        .ad-phone {
          position: absolute;
          z-index: 1;
          left: 8px;
          top: 3px;
    
        }
        .ad-detail_pre {
          position: absolute;
          z-index: 1;
          left: 8px;
          top: 3px;
    
        }
        .ad-detail_area {
          position: absolute;
          z-index: 1;
          left: 8px;
          top: 7px;
    
        }
      }
    }
    
  
  }
  .register-bottom{
    background-color: #f6b37f;
    text-align: center;
    padding-top: 30%;
    .btn{
      margin:0 auto;
      width: 50%;
      height: 74px;
      line-height: 74px;
      background-color: #FE5F5F;
      color:#fff;
      border-radius: 37px;
      font-size: 26px;
      // letter-spacing:20px;
      box-shadow: 0 5px 3px #F4A466

    }
  }
}